* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --first-dark: #283044;
    --second-blue: #78a1bb;
    --third-mint: #Ebf5ee;
    --fourth-beige: #bfa89e;
    --fifth-taupe: #8b786d;
}

body {
    margin: 0;
    background-color: var(--second-blue);
}

main {
    display: flex;
    flex-direction: column;
}


nav {
    background-color: var(--third-mint);
    border-bottom: 1px solid black;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9vw;
    margin-right: 4vw;
}

.navigation a {
    font-size: 1.2rem;
    font-family: Ebrima;
    text-decoration: none;
    color: #26313A;
    transition: all 0.2s ease;
    padding: 3px;
    border: 2px solid transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.navigation a:hover {
    border: 2px solid gray;
    border-radius: 20px;
    background-color: var(--second-blue);
    color: white;
    padding: 5px;
}


.navigation img {
    height: 22vh;
    width: 15vw;
}

.center-container {
    margin: 0 auto;
    width: 90vw;
    max-width: 650px;
}

h1 {
    color: #000000;
    font-size: 2rem;
    font-family: Georgia, serif;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h2 {
    color: #000000;
    font-size: 1.5rem;
    font-family: Georgia, serif;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.image {
    display: flex;
    justify-content: center;
    margin-left: 40vw;
    margin-bottom: 3vh;
    height: 20vh;
    width: 20vw;
}

footer {
    background-color: var(--third-mint);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer img {
    height: auto;
    width: 50px;

}

.footerRowContainer {
    display: flex;
    gap: 20px;
}

.footerRowContainer a {
    text-decoration: none;
    color: black;
}

@media (max-width: 480px) {


    footer {
        background-color: var(--third-mint);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;

    }

    .footerRowContainer {
        display: flex;
        gap: 4vw;
        text-align: center;
        justify-content: center;
        margin-bottom: 2vh;
    }

    footer img {
        height: 22vh;
        width: 15vw;

    }

    .footerRowContainer a {
        text-decoration: none;
        color: black;
    }

    .footerRowContainer a:hover {
        text-decoration: underline;
    }

    .footerColumnContainer {
        display: flex;
        gap: 2.3vw;
        justify-content: center;
        margin-top: 4vh;
    }

    footer {
        font-family: Ebrima;
    }
}