* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --first-dark: #283044;
    --second-blue: #78a1bb;
    --third-mint: #Ebf5ee;
    --fourth-beige: #bfa89e;
    --fifth-taupe: #8b786d;
}

body {
    margin: 0;
    background-color: var(--second-blue);
}

main {
    display: flex;
}

nav {
    background-color: white;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16vw;
    padding-bottom: 3vh;
}

.navigation a {
    margin-top: 3.5vh;
    font-size: 1.2rem;
    font-family: Ebrima;
    text-decoration: none;
    color: #26313A;
    transition: all 0.2s ease;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.navigation a:hover {
    border: 2px solid gray;
    border-radius: 20px;
    background-color: var(--second-blue);
    color: white;
    padding: 5px;
}

.navigation img {
    margin-top: 2.7vh;
    height: 5vh;
    width: 5vw;
}

.navigation .searchIcon {
    font-size: 2rem;
}


.products-map {
    margin-top: 5vh;
}


h1 {
    font-size: 1.15rem;
    margin-bottom: 2vh;

}

.product-search input {
    margin: 0 3vw;
    border-radius: 20px;
    width: 90vw;
    height: 4vh;
    padding-left: 15px;
}

#product-list {
    display: flex;
    flex-direction: column;

    article {
        display: flex;
        background-color: white;
        width: 85%;
        margin: 2vw 4vw;
        padding: 20px;
        border: 2px solid #eee;
        border-radius: 15px;

        #product-image {
            width: 30%;

            img {
                width: 100%;
            }
        }
    }

    /*middle part*/

    #name-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.8vh;
        width: 50%;
        padding-left: 5vw;
        padding-right: 10vw;

        h2 {
            font-size: 1.5rem;
        }

        strong {
            font-size: 1.3rem;
        }
    }

    /*article buttons part*/

    #info-route {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        gap: 10px;


        #info, #route {
            background-color: #f2f2f2;
            color: black;
            border: 2px solid black;
            border-radius: 10px;
            font-size: 0.8rem;
            cursor: pointer;
            padding: 30%;
        }

        #info:hover, #route:hover {

        }
    }
}


/*.navigation button {*/
/*    height: 8vh;*/
/*    width: 25vw;*/
/*}*/

@media (max-width: 480px) {

    .navigation {
        flex-direction: column;
        gap: 0.3vh;
    }

    .navigation img {
        height: 8vh;
        width: 12vw;
    }

    h1 {
        font-family: Ebrima;

        max-width: 440px;
        margin-left: 3vw;
    }

    footer {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;

    }

    .footerRowContainer {
        display: flex;
        gap: 4vw;
        text-align: center;
        justify-content: center;
        margin-bottom: 2vh;
    }

    footer img {
        width: 5.5vw;
        height: auto;

    }

    .footerRowContainer a {
        text-decoration: none;
        color: black;
    }

    .footerRowContainer a:hover {
        text-decoration: underline;
    }

    .footerColumnContainer {
        display: flex;
        gap: 2.3vw;
        justify-content: center;
        margin-top: 4vh;
    }

    footer {
        font-family: Ebrima;
    }
}